<h1><%= @manager.name %> has signed up to CrewCoord.net</h1>
<h2>Email Verification</h2>

Here is the verification code that needs to be copied and pasted.
<br>
<h3><%= @token %></h3>

This verification code is only valid for 5min.
