<% content_for :moreCSS do %>
  <%= stylesheet_link_tag "home", media: 'screen' %>
<% end %>

<div class="w-50 p-5 pb-0 mb-4 mt-5 rounded-3 bg-dark text-center hero-card">
  <div class="hero-title text-center">
    <h1>Welcome to Crew Coord</h1>
  </div>

  <p class="p-5">The ultimate solution for companies seeking to streamline
    their crew management and scheduling processes. Our intuitive platform offers a
    comprehensive suite of tools designed to simplify the complexities of organizing
    crews and setting schedules, ensuring that your operations run smoothly and
    efficiently.</p>
</div>

<div class="d-flex flex-column justify-content-center description-panel">
  <div class="d-flex row-with-img-left">
    <div class="row-img-left">
      some image goes here
    </div>
    <div class="row-content">With Crew Coord, you can effortlessly create, manage, and monitor multiple
      crews, assigning tasks and responsibilities with ease. Our advanced scheduling
      system allows you to set up recurring schedules, make real-time updates,
      and even account for last-minute changes. The platform's intelligent
      algorithms optimize crew assignments, taking into consideration factors
      such as skill sets, availability, and location to maximize productivity.
    </div>

  </div>

  <div class="d-flex row-with-img-right">
    <div class="row-content">
      Crew Coord also facilitates seamless communication between team members and
      management, enabling real-time updates and notifications. The built-in messaging
      system ensures that everyone is on the same page, fostering collaboration and
      enhancing overall performance.
    </div>
    <div class="row-img-right">
      some image goes here
    </div>
  </div>


  <div class="d-flex row-with-img-left">
    <div class="row-img-left">
      some image goes here
    </div>
    <div class="row-content">In addition, Crew Coord offers robust reporting and analytics features,
    providing valuable insights into your crew's performance and productivity.
    With this data at your fingertips, you can make data-driven decisions to
    optimize your operations and drive growth.</div>
  </div>

  <div class="d-flex row-with-img-right">
  <div  class="row-content">Experience the power of Crew Coord and revolutionize the way you manage
    your crews and schedules. Get started today and discover the difference it can
    make for your organization.</div>
    <div class="row-img-right">
      some image goes here
    </div>
  </div>


  <div class="d-flex justify-content-between w-60 mt-5 quad-content">
    <div class="row-content2">With Crew Coord, you can effortlessly create, manage, and monitor multiple
      crews, assigning tasks and responsibilities with ease. Our advanced scheduling
      system allows you to set up recurring schedules, make real-time updates,
      and even account for last-minute changes. The platform's intelligent
      algorithms optimize crew assignments, taking into consideration factors
      such as skill sets, availability, and location to maximize productivity.
    </div>

    <div class="row-content2">
      Crew Coord also facilitates seamless communication between team members and
      management, enabling real-time updates and notifications. The built-in messaging
      system ensures that everyone is on the same page, fostering collaboration and
      enhancing overall performance.
    </div>
  </div>

  <div class="d-flex justify-content-between w-60 mt-5 quad-content">
    <div class="row-content2">In addition, Crew Coord offers robust reporting and analytics features,
      providing valuable insights into your crew's performance and productivity.
      With this data at your fingertips, you can make data-driven decisions to
      optimize your operations and drive growth.</div>

    <div  class="row-content2">Experience the power of Crew Coord and revolutionize the way you manage
      your crews and schedules. Get started today and discover the difference it can
      make for your organization.</div>
  </div>

</div>
