/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */
@import 'bootstrap';
@import 'myVariables';
@import 'global_classes';
@import "home";



body {
  background: #2a2d31;
  margin: 0;
  height: calc(100vh - var(--top-nav-height));
  color: bisque;
}

input {
  background-color: var(--form-input-fields-bg) !important;
  border: none !important;
  border-bottom: 2px solid var(--form-border-color) !important;
  color: white !important;
  padding: 3px 5px !important;
  font-size: var(--form-font-size) !important;

  &:active, &:focus, &:-webkit-autofill {
    outline: none !important;
    border-bottom: none !important;
    box-shadow: 0 0 10px rgb(130, 219, 246) !important;
  }


}

.need-required {
  box-shadow: 0 0 5px red;
}

.btn-common {
  border: 1px solid var(--form-signup-btn-border-color);
  border-radius: .5rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.displayOff {
  display: none !important;
}

a {
  text-decoration: none;

  &:visited:hover {
    color: white;
  }

  &:visited {
    color: #425a5b;
  }
}

.flash {
  margin: 0 auto;
  font-size: var(--form-font-size);
  border-radius: 1rem;
}

.flash.notice,
.flash.error {
  text-align: center;
}

.flash.notice {
  background: palegreen;
  border: 1px solid green;
  color: darkgreen;
}

.flash.error {
  background: red;
  border: 1px solid darkred;
  color: yellow;
}


:root {
  --top-nav-height: 6rem;

  // global colors
  --card-border-color: bisque;
  --form-border-color: #919191;

  --btn-cancel-bg-color: #8f0000;
  --btn-cancel-bdr-color: red;
  --btn-cancel-fg-color: bisque;

  --header1-bg-color: rgba(0, 0, 0, 0.3);
  --header1-border-color: var(--card-border-color);
  --form-input-fields-bg: var(--header1-bg-color);
  --form-signup-btn-border-color: var(--form-border-color);
  --form-signup-btn-bg-color: bisque;

  --header2-bg-color: rgba(255, 255, 255, 0.25);

  //  global font sizes
  --header1-font-size: 3rem;
  --header1-height: 4rem;

  --header2-font-size: 2rem;
  --header2-height: 3rem;

  --form-font-size: 1.5rem;

  // border radii
  --form-border-radus: 1rem;
}
