@media only screen and (min-width: 769px) {
  .top-nav {
    background: #232a33;
    color: #62c9cc;
    height: $top-nav-height;

    .brand {
      text-align: center;
      font-size: 3rem;
      width: 20%;
      margin: auto 0;
    }

    .nav-actions {
      flex-basis: 20%;
      margin: auto 50px auto 0;

      .txt-company {
        align-items: center;
        text-align: center;
      }

      .company-nav-col {
        //gap: 1rem;
        align-items: center;
      }

      .manager-nav-col {
        align-items: center;
      }
    }
    .menu-action {
      display: none;
    }

    .nav-center {
      display: flex;
    }

  }
  .nav-panel {
    display: none;
  }

}
