@import "myVariables";

@media only screen and (min-width: 200px) {
  .top-nav {
    //align-items: center;
    background: #232a33;
    color: #62c9cc;
    width: 100%;
    height: $top-nav-height;

    .brand {
      width: 100%;
      font-size: 3rem;
      color: #3eb5e0;

      .dateStamp {
        font-size: 8pt;

      }
    }

    .brand-link {

      text-align: center;

      &:hover {
        //color: darkseagreen;
        text-shadow: 1px 1px 15px yellowgreen;
      }
    }

    .nav-center {
      display: none;
    }



    .nav-actions {
      display: none;
      gap: 1rem;
      font-size: 1em;

      .action-item {
        border: 1px solid #5db4ae;
        border-radius: 5px;
        margin-inline: 20%;

        &:hover {
          color: white;
        }
      }
    }

    .menu-action {
      display: flex;
      margin-left: 10px;
    }


  }

  .lifted-card-content {
    gap: 2rem;
    color: #3eb5e0;
    flex-wrap: wrap;

    .row-content1,
    .card-contents {
      flex: 1;
      background-color: rgba(47, 155, 194, 0.1);
      padding: 1em;
      border-radius: 10px;
      box-shadow: 5px 5px 15px black;

      h3.tier-txt {
        flex: 1;
        padding-left: 1rem;
        background-image: $h3-tier-gradient-left-bg;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }

      h4.tier-sub-txt {
        background-image: $h3-tier-gradient-right-bg;
        color: white;
        font-size: .8em;
        padding-right: 1rem;
        align-content: center;
      }
    }

    .card-contents {

    }

  }

  .nav-panel {
    display: none;
    z-index: 99;

    font-size: 2em;

    width: 100%;
    background: rgba(86, 103, 133, 0.53);
    backdrop-filter: blur(5px);

    .theDate {
      margin-bottom: 1rem;
      background: rgba(35, 42, 51, 0.78);
    }

    .nav-item {
      margin: 10px auto;
    }
  }

  .nav-panel-open {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }

  .close-navpanel {
    align-self: end;
  }

  .displayOff {
    display: none;
  }

  .lifted-card-content {
    gap: 2rem;
    color: $zpanel-color;
    flex-wrap: wrap;

    .row-content1 {
      //width: 100%;

      background-color: rgba(47, 155, 194, 0.1);
      padding: 1em;
      border-radius: 10px;
      box-shadow: 5px 5px 15px black;
    }

  }
}
