<nav class="dflexr-jcsb top-nav">
  <div class="brand">
    CrewCoord
  </div>
  <div class="nav-center">
    <%= theDate %>
  </div>
  <div class="dflexc-jcc nav-user-actions">
    <div class="txt-company">Company</div>
    <div class="dflexr-jcc company-action-row">
      <%= link_to session_signup_url do %>
        <div class="signup">Sign Up</div>
      <% end %>
      <div class="company-login">Login</div>
    </div>

  </div>
</nav>
